.app.dark {
  transition: all 0.1s ease-in-out;

  --bg-color: #141414;

  --first-color: #ffff;
  --second-color: #868e96;
  --threm-color: #1c94e4;

  --hover-color: #181818;
  --button-color: #2f2f2f;
}