.banner {
    width: 100%;
    height: 20vh;
    max-height: 250px;
    object-fit: cover;
    object-position: bottom;
    user-select: none;
}


.wrapper {
  padding: var(--space-size-s) var(--space-size-m) 0;
  margin: 0 auto var(--space-size-m);
  position: relative;
  max-width:var(--container-width);

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid var(--bg-color);
    position: absolute;
    top: -80px
  }

  &__send {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: var(--space-size-l);

    & > button {
      color: var(--bg-color);
      background-color: var(--first-color);
      cursor: pointer;
      padding:  0 var(--space-size-m);
      min-height: 38px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__fullName {
    font-size: 28px;
    & > svg {
    color: var(--threm-color)
    }
  }

  &__nickname {
    color: var(--second-color);
    font-weight: 400;
    margin-bottom: var(--space-size-s);
  }

  &__text {
      white-space: pre-wrap;
      margin-bottom: var(--space-size-m);
  }
}










