.wrapper {
  padding: var(--space-size-m);
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  line-height: 150%;
  gap: var(--space-size-m);

  & > div >h3 {
    margin-bottom: var(--space-size-s);
  }
}