.wrapper {
  padding:var(--space-size-m);
  display: flex;
  gap:10px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover{
    background-color: var(--hover-color);
    transition: background-color 0.2s ease-in-out;
  }

  &__avatar {
    & > img {
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }
  }

  &__infobox {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__namebox{
    display: flex;
    gap: 5px;
    align-items: baseline;

    & > span {
      color: var(--second-color);
    }

    & > p {
      color: var(--second-color);
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__text {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: var(--space-size-m);
  }

  &__img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border: 1px solid var(--button-color);
    border-radius: 20px;
  }

  &__iconsbox {
    display: flex;
    justify-content: end;
    gap: var(--space-size-s);

   & > div {
     color: var(--second-color);
     cursor: not-allowed;
   }

    & > a {
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--button-color);
        color: var(--threm-color);
        transition: all 0.2s ease-in-out;
      }
    }
    & > div,a {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;


      & > svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}